body{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: grid;
    place-items: Centre;
}
section{
    width: 1000px;
    height: 600px;
    background-color: #fff;
    padding: 25px 50px;
    text-align: center;
}
section h2{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    text-transform: none;
    text-decoration: 5px solid underline blue;
    text-underline-position: under;
    letter-spacing: 5px;
    word-spacing: 10px;
    margin-bottom: 30px;

    color: transparent;
    -webkit-text-stroke: #2121c8;
}
section p{
    font-size: 23px;
    line-height: 35px;
    text-align: justify;
    margin-bottom: 30px;
}
section a{
    background-color: rgb(44, 44, 174);
    padding: 10px 50px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 520;
}