*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}
body{
  width: 100vw;
  height: 100vh;
}
header{
    width: 100%;
    height: 100px;
    background-color:black;
    font-size: 100px;
    text-align: center;
}
section{
    width: 100%;
    height: calc(100vh - 200px);
    background-color:tomato;
    background-image: url('https://images.squarespace-cdn.com/content/v1/5d777de8109c315fd22faf3a/1652899582924-FPWXES6GG7EGOQSRDE16/unsplash-image-pQMM63GE7fo.jpg?format=2500w');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: right center;
}
footer{
    width: 100%;
    height: 100px;
    background-color: black;
    font-size: 60px;
    text-align: center;
}
